@charset "utf-8";
/*공통바디부분 시작*/

header{ width:100%; height: 100px; }
header > .wrap{ width:1080px; margin:0 auto; position:relative; }
header > .wrap > .notice {	position: absolute;	top: 0;	left: 0px;}
header > .wrap > .logo {	position: absolute;	top: 30px;	left: 0px;}
#gnb {position:absolute; top:14px; right:0px;}
#gnb li { float:left; margin-right:2px; border-left:1px #CCC solid;line-height:9px; padding:0 7px;}
#gnb li:first-child { border-left:0;}
#gnb li a{   font-size:11px; line-height:9px; color:#666666;}

#lnb { position:absolute; top:46px; left:200px; z-index:999;  width: 880px; }



footer{ width:100%; margin-top: 30px; border-top: 1px #e9e9e9 solid;  }
footer >.wrap{ width:1080px; margin:0 auto; position:relative; height:111px;}
footer >.wrap >.address{ float:left; margin-top:25px;   font-size:11px;  color:#666666;}
footer >.wrap >.logo{ float:right;margin-top:25px;}






/* 하단코드는 불필요시 삭제가능 */



/*------------ SMS--------------*/
#sendSMS { width:230px; border-radius:5px; overflow:hidden; position:fixed; bottom:10px; right:10px; z-index:10; box-shadow:3px 3px 0 rgba(0, 0, 0, 0.2); }
#sendSMS .title {background:#ea112c; text-align:center; padding-top:10px; height:32px; font-weight:bold; }
#sendSMS .contents { background:#fff; border:1px #dee3f1 solid; border-top:none; padding:15px 13px; }
#sendSMS .contents textarea[name=messagebox] {background:#f8fafb; border:1px #dee3f1 solid; width:170px; height:52px; padding:15px;font-family: "돋움"; font-size:12px; color:#333; line-height:19px;overflow:hidden;border-radius:5px;}
#sendSMS .inputText .textNum {font-family: "돋움"; font-size:11px; color:#333; text-align:right; line-height:13px; margin-top:3px;}

#sendSMS .inputNumber {overflow:hidden; margin-top:7px;}
#sendSMS .inputNumber .telNum { float:left;font-family: "돋움"; font-size:12px; color:#333; line-height:27px;}
#sendSMS .inputNumber input { float:left; width:36px; padding:5px; height:13px;background:#f8fafb; border:1px #dee3f1 solid;font-family: "돋움" !important; font-size:12px; color:#333; border-radius:3px; margin-left:4px;}
#sendSMS .checkPrivacy {margin-top:5px; display:block;}
#sendSMS input[name=btnSMS] {background:#3b3b3b; border:1px #3b3b3b solid; width:200px; height:35px; padding:5px; font-size:12px; color:#fff; overflow:hidden;border-radius:3px; margin-top:13px;}

/*------------ 이메일--------------*/
.sendFormMail { width:350px; border-radius:5px; overflow:hidden; position:fixed; bottom:305px; right:10px; z-index:10; box-shadow:3px 3px 0 rgba(0, 0, 0, 0.2); }
.sendFormMail > .title {background:#ea112c; text-align:center; padding-top:10px; height:32px; font-weight:bold; }
.sendFormMail .contents1 { background:#fff; border:1px #dee3f1 solid; border-top:none; padding:15px 13px; font-family: "돋움"; font-size:12px; color:#333; }
.sendFormMail .contents1 legend { display:none;}


.sendFormMail .contents1 label { float:left; width:20%;line-height:26px; margin-bottom:5px;}

.sendFormMail .contents1 input[name=title] { float:left; width:80%;height:26px; padding:5px; background:#f8fafb; border:1px #dee3f1 solid;border-radius:3px; box-sizing:border-box;margin-bottom:5px;}

.sendFormMail .contents1 input[name=email_id] { float:left; width:35%;height:26px; padding:5px; background:#f8fafb; border:1px #dee3f1 solid;border-radius:3px; box-sizing:border-box;margin-bottom:5px;}
.sendFormMail .contents1 input[name=email_domain] { float:right; width:35%;height:26px; padding:5px; background:#f8fafb; border:1px #dee3f1 solid;border-radius:3px; box-sizing:border-box;margin-bottom:5px;}


.sendFormMail .contents1 textarea[name=emailbox] {float:left; width:80%;height:60px; background:#f8fafb; border:1px #dee3f1 solid;  padding:5px;border-radius:5px; box-sizing:border-box;margin-bottom:5px;}



.sendFormMail input[name=btnSendMail] {background:#3b3b3b; border:1px #3b3b3b solid; width:100%;  box-sizing:border-box; height:35px; padding:5px; font-size:12px; color:#fff; overflow:hidden;border-radius:3px; margin-top:13px;}
