@charset "utf-8";

body.bg { background:url(../images/bg_top.jpg) top center repeat-x;}
.visual{ width:100%; z-index:1; height:207px;  overflow:hidden; background-color:#CCCCCC }
#container{ width:1140px; overflow: hidden; margin: 40px auto 0; }

/* 네비영역 */
#snb{ float:left; width:200px; margin-right:60px; margin-top: 0px; min-height: 100%; }
#snb  #title { font-weight:600;  color:#343434; font-size:26px; }

#snb .nav ul { margin-top:7px;  overflow:hidden;}
#snb .nav ul a{ line-height:40px; color: #333333; font-size: 15px;  display:block;padding-left:15px; height:38px;  background-color:#fff; border:1px #dedede solid;}
#snb .nav ul li{ float:left;  margin-top:5px;width:200px; }
#snb .nav ul li.on a{ color:#fff; background:url(../images/bg_nav_on.png) right; font-weight:bold; height:40px; border:none;}
#snb .banner li{ margin-top:20px;}

/* 서브타이틀영역 */
.wrap_title { position:relative; width:880px; height:44px; border-bottom:2px #595959 solid; }
.wrap_title > #subtitle {position: absolute;  font-weight:600; font-size:23px; color:#343434;  }
.wrap_title > #map { position: absolute; right:0px; top:19px; color: #979797; font-size: 11px; background:url(../images/dot_home.png) no-repeat 0 0px; padding-left:18px; }


/* 컨텐츠영역 */
main{ float:left; width:880px; }
main section{ margin: 35px 0 0 0; }
main .line_section{padding-bottom:30px; border-bottom:1px #CCC dashed; }  /* 섹션영역 밑줄 */
main section > h1 { color: #454545; font-size: 16px; line-height:29px;  padding-bottom:0px; }
main section > h2 {color: #454545; font-size: 16px ; margin-bottom:5px; line-height:29px; font-weight:bold; background:url(../images/dot_title.png) no-repeat 0px 9px;  padding-left:22px; text-align:left; }
main section > h3 { color: #0067c6; font-size: 15px; line-height:29px;  padding-left:20px; padding-bottom:0px; margin-top: 15px; }
main section .content { margin-top:5px; }
main section .indent_content { padding-left:20px;  }


/* 컨텐츠내 리스트 활용 */
ul.list_dot { padding-bottom:20px; border-bottom:#cfcfcf 1px dashed; overflow:hidden; margin-top:20px;}
ul.list_dot > li { margin-left:10px; padding-left:10px; background:url(../images/dot_title2.png) no-repeat 0px 9px;  color: #484848; font-size: 13px; margin-top:10px; }

ol.list_num { padding-bottom:20px; border-bottom:#cfcfcf 1px dashed; overflow:hidden; margin-top:20px;}
ol.list_num > li {   color: #484848; font-size: 13px; margin-top:10px;  }
ol.list_num > li > p{color: #555; font-size: 12px; margin:5px 0 15px 0;  }

ol.list_alpha { padding-bottom:20px; border-bottom:#cfcfcf 1px dashed; overflow:hidden; margin-top:20px;}
ol.list_alpha > li { list-style-type:lower-alpha;   color: #484848; font-size: 13px; margin-top:10px;  }
ol.list_alpha > li > p{color: #555; font-size: 12px; margin:5px 0 15px 0;  }


/* 테이블 */
.tbl { color: #535353; font-size: 14px; width:100%; border:0; padding:0; border-spacing:0;border-collapse:collapse;    }
.tbl caption {color: #454545; font-size: 16px; font-weight:bold; background:url(../images/dot_title.png) no-repeat 0px 9px;  padding-left:20px; text-align:left; }
.tbl th,.tbl td{border:1px #CCCCCC solid; padding:6px; }
.tbl thead {background-color:#6893e1; color:#FFF; font-size:13px; font-weight:800;}
main .tbl_bottom { margin-top:5px;  color: #333333; font-size: 12px; }

/* 테이블 두번째디자인 */
.tbl2 { margin-top:10px;width:100%; border:0; padding:0; border-spacing:0;border-collapse:collapse;   color: #535353; font-size: 13px;  }
.tbl2 caption {text-align:left;font-size:16px; color:#535353;}
.tbl2 th,.tbl2 td{border:1px #e7e7e7 solid; padding:10px; }
.tbl2 th {background-color:#f7f7f7;color:#666;}
.tbl2 thead {background-color:#6893e1; color:#FFF; font-size:13px; font-weight:800;}



